.btn {
  margin-top: 80px;
  background: #e0aa93;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  transition: box-shadow 0.3s ease;
}

.btn:hover {
  background: #f48353;
  box-shadow: 0 0 3px 3px rgba(232, 248, 232, 0.721);
}
